* {
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
    font-family: Microsoft JhengHei;
}

/* 3.2  P1-22*/
#wrapper{
    margin: 0 auto;
    width: 1024px;
}

/* #logo{
    height: 250px;
} */

#logo img{
    width: 100%;
}

nav{
    background-color: #b63d32;
    text-align: center;
}

ul{
    display: inline-block;
    margin: 0;
}

li{
 list-style-type: none;
 float: left;
 text-align: center;   
}

li a{
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
}
li a:hover{
    color: #ffc90e;
}

#main{
    background: #ffe634;
}

#sidebar{
width: 250px;
height: 300px;
float: left;
background-color: #ffe634;
}

#sidebar ul{
    margin-left: 65px;
    margin-top: 30px;
}

#sidebar li{
    float: none;
}

#sidebar li a{
    color: #000000;
    padding: 10px 20px;
    border: solid #b63d32;
    margin: 10px;
}

#sidebar li a:hover{
    color: #ffffff;
    border-color: #ffffff;
}

#content{
    /* height: 350px;
    width: 774px;
    float: left; */
    margin-left: 250px;
    background-color: #f4f4ed;
}

#content_in{
    padding: 30px 50px;
}

#content h1{
    color: #b63d32;
    margin-bottom: 10px;
}

#content p{
    font-size: 15px;
    margin-bottom: 20px;
}

#content a{
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-decoration: none;
    background-color: #b63d32;
    color: #ffffff;
}

footer{
    clear: both;
    background-color: #71552a;
    text-align: center;
}

footer p{
    font-size: 10px;
    color: #ffffff;
    padding: 10px 0px;
}

@media screen and (max-width: 1024px) {
    #wrapper{
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    li a{
        padding: 10px;
    }
}