@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*視窗背景色設定*/
body{
    background: #fbf9cc url(/images/bg.png) repeat-x;
}

/*連結顏色設定*/
a{
    color: #FF0000;
}

/*頁首,導覽,頁尾的共通設定*/
header, nav, footer{
    text-align: center;
}

/*導覽樣式設定*/

.menu li{
    display: inline-block;
    width: 200px;
    margin: 15px 10px 0px;
}

.menu a{
    background-color: #4a9a78;
    padding: 8px 25px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 15px;
}
.menu a:hover{
    color: #fbf9cc;
}


/*頁面標題設定*/
@font-face{
    font-family: 'Lobster';
    src: url(../fonts/Lobster_Two/LobsterTwo-Regular.ttf);
    src: url(../fonts/Lobster_Two/LobsterTwo-Bold.ttf);
    src: url(../fonts/Lobster_Two/LobsterTwo-BoldItalic.ttf);
    src: url(../fonts/Lobster_Two/LobsterTwo-Italic.ttf);
}
h1{
    background: linear-gradient(to bottom, #6bb897, #4a9a78);
    color: #ffffff;
    width: 300px;
    padding: 30px;
    margin: 40px auto;
    border: 5px solid #95dbbd;
    border-radius: 50%;
    font-size: 300%;
    text-align: center;
    line-height: 1em;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 3px 10px lemonchiffon;
    box-shadow: 0px 0px 10px 0px black;
    cursor: default;
}

/*次標題設定*/
#about h2,#plantsIntro h2, #profile h2{
    color: #5fae8c;
    border: 1px dotted #d0e35b;
    border-left: 5px solid #d0e35b;    
    margin: 20px 0px;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
}

/*小標題設定*/
#plantsIntro h3{
    color: #ff705b;
    background:#fbf9cc;
    padding: 10px;
    box-shadow: 0 0 5px 1px #ff705b inset;
    border-radius: 10px;
    margin: 15px 0px;
}

#plantsIntro img{
    border-radius: 10px;
}

/*內容區塊邊框設定*/
#content{
    width: 960px;
    background: white;
    margin: 40px auto;
    border: 1px solid #f9d0bc;
    padding: 40px 60px;
}

/*「更多介紹」連結設定*/
.more{
    text-align: right;
}

/*連結圖示設定*/
.more::after{
    content: url(/images/ico_arrow.png);
    margin-left: 5px;
    vertical-align: middle;
}


/*區塊間分隔*/


/*文繞圖設定*/
.imgL{
    float: left;
    margin-right: 20px;
}
.imgR{
    float: right;
    margin-left: 20px;
}

.clear{
    clear: both;
}

/*圓形圖片設定*/
